<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Clase_Ultima.Entidades.Properties.Settings.Conexion"
            connectionString="Data Source=LAPTOP-E0P9ML5G\SQLEXPRESS;Initial Catalog=personas_bd;Integrated Security=True"
            providerName="" />
    </connectionStrings>
</configuration>